.datechooser-main-div {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  @media (max-width: 900px) {
    width: 95%; /* For mobile screens (width < 768px) */
  }
  @media (min-width: 901px) {
    width: 80%; /* For desktop screens (width >= 768px) */
  }

  @media (max-width: 1080px) {
    .dates-container {
      overflow: scroll;
      display: flex;
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #383838; /* Color of the thumb */
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #000000; /* Color of the track */
      }
    }
  }
  .date-btn {
    // border: 1px solid #393939;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    color: #ffffff;
    background-color: #000;
    border-radius: 1rem; /* Adjust border radius if necessary */
    &:hover {
      background-color: #1e1e1e;
    }
    @media (max-width: 900px) {
      font-size: 1.4rem; /* For mobile screens (width < 768px) */
    }
  }
  .selected {
    color: #11ff00;
  }
}
